<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskKick</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
    <h1>TaskKick - Zarządzanie zadaniami</h1>
        <div id="buttons">
            <% buttons.forEach(button => { %>
                <div class="button-container">
                    <form action="<%= button.action %>" method="post">
                        <button class="restart-button" type="submit"><%= button.label %></button>
                    </form>
                    <span><%= button.description %></span>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
